{% extends 'base.html' %}
{% load static %}
{% load material_form %} 

{% block page_content %}
<h3 class="heading_b uk-margin-bottom">System User</h3>
   <div class="md-card">
        <div class="md-card-content">
            {% if user_form.errors or  profile_form.errors or errors %}
                <div class="uk-alert uk-alert-danger" data-uk-alert="">
                   <a href="#" class="uk-alert-close uk-close"></a>
                   {% if user_form.non_field_errors %}
                    {{ user_form.non_field_errors }}
                   {% elif user_form.errors %}
                   {{ user_form.errors }}
                   {% elif profile_form.non_field_errors %}
                   {{ profile_form.non_field_errors }}
                   {% elif profile_form.errors %}
                   {{profile_form.errors}}
                   {% elif errors %}
                   {{ errors }}
                   {% endif %}
               </div>
            {% endif %}
            
            <form method="POST" class="new-event-form" role="role" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        {% include "form/field.html" with field=user_form.username input_group_add_on='<i class="uk-input-group-icon uk-icon-key"></i>' %}
                        {% include "form/field.html" with field=user_form.password input_group_add_on='<i class="uk-input-group-icon uk-icon-lock"></i>' %}
                        {% include "form/field.html" with field=user_form.confirm_password input_group_add_on='<i class="uk-input-group-icon uk-icon-lock"></i>' %}
                        {% include "form/field.html" with field=user_form.is_active input_is_checkbox='True' %}
                        {% include "form/field.html" with field=user_form.is_superuser input_is_checkbox='True' %}
                                   
                    </div>
                    <div class="uk-width-medium-1-2">
                        {% include "form/field.html" with field=user_form.first_name input_group_add_on='<i class="uk-input-group-icon uk-icon-user-plus"></i>' %}
                        {% include "form/field.html" with field=user_form.last_name input_group_add_on='<i class="uk-input-group-icon uk-icon-user-plus"></i>' %}
                        {% include "form/field.html" with field=profile_form.msisdn input_group_add_on='<i class="uk-input-group-icon uk-icon-phone"></i>' %}
                        {% include "form/field.html" with field=user_form.email  input_group_add_on='<i class="uk-input-group-icon uk-icon-envelope"></i>' %}
                        {% include "form/field.html" with field=profile_form.access_level  input_group_add_on='<i class="uk-input-group-icon uk-icon-level-up"></i>' %}
                        {% include "form/field.html" with field=coop_form.cooperative  input_group_add_on='<i class="uk-input-group-icon uk-icon-level-up"></i>' %}
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <button type="submit" class="md-btn md-btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}