{% extends 'base.html' %}
{% load static %}
{% load material_form %}
{% load el_pagination_tags %}
{% block style %}
<style type="text/css">
    .row-pagination{
        margin: 15px;
    }
    .row-pagination a{
        padding: 10px;
        border-radius: 4px;
    }

    .endless_page_current{
        background: #7cb342;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
    }

</style>
{% endblock %}
{% block page_content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <h2 class="heading_a uk-margin-bottom">Messages</h2>
        </div>
        <div class="uk-width-medium-1-2">
            <a href="{% url 'messaging:message_send' %}" class="md-btn md-btn-success uk-float-right">Send Message</a>
        </div>
    </div>
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                    <tr>
                        
                        <th>Phone Number</th>
                        <th>Message</th>
                        <th>Status</th>
                        <th>Sent Date</th>
                    </tr>
                    </thead>
                    <tbody>
                         {% paginate object_list %}{% get_pages %}
                        {% for item in object_list %}
                            <tr>
                                <td>{{ item.msisdn }}</td>
                                <td>{{ item.message }}</td>
                                <td>{{ item.status }}</td>
                                <td>{{ item.response }}</td>
                                <td>{{ item.sent_date|date:"M. d, Y. H:m:s"  }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row-pagination">
                Showing entries
                {{ pages.current_start_index }}-{{ pages.current_end_index }} of
                {{ pages.total_count }}.
                {# Just print pages to render the Digg-style pagination. #}
                {% show_pages %}
            </div>
        </div>
    </div>
{% endblock %}
{% block page_specific_scripts %}
 <!-- page specific plugins -->
    
    <script>
        $(function() {
            $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
        });
    </script>
{% endblock %}