{% extends 'base.html' %}
{% load static %}
{% load material_form %} 

{% block page_content %}
<h3 class="heading_b uk-margin-bottom">Item Form</h3>
   <div class="md-card">
        <div class="md-card-content">
            <form method="POST" class="new-event-form" role="role">
                {% csrf_token %}
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        {% include "form/field.html" with field=form.name input_group_add_on='<i class="uk-input-group-icon uk-icon-key"></i>' %}
                        {% include "form/field.html" with field=form.price input_group_add_on='<i class="uk-input-group-icon uk-icon-key"></i>' %}
                                    
                    </div>
                    <div class="uk-width-medium-1-2">
                        {% include "form/field.html" with field=form.supplier input_group_add_on='<i class="uk-input-group-icon uk-icon-key"></i>' %}
                        {% include "form/field.html" with field=form.unit input_group_add_on='<i class="uk-input-group-icon uk-icon-key"></i>' %}
                        
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <button type="submit" class="md-btn md-btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}